.messageSlideToggle
{
	display:none;
}
.button
{
	width:100%;
	margin:0 0 20px 0;
}
#video_object{width:100%;}

.messageList{ position:relative; width:100%; min-height:70px; margin:0 0 10px 0; padding:0 0 20px 60px; font-size:12px;}
.messageList .messageList_img{ position:absolute; left:5px; width:50px; height:50px;}
.messageList .messageList_uname{position:absolute; top:55px; left:5px; min-width:50px; text-align:center;}
.messageList .messageList_content{ }
.messageList .messageList_time{position:absolute; bottom:0; right:0px;}
/*留言分页*/
.pagingArea{ min-height:100%;}



