body {background:#00B266;}
*{font-weight:normal;font-family:"幼圆"!important;line-height:150%;}
img {margin-left:25%;}
.WordSection1{ width:1024px; background:#eee; margin:0 auto; padding:20px 30px;  font-size:15px;  border-radius:10px 10px; box-shadow:10px 10px 10px #ccc; }
